@model Asignatura
@{
    ViewData["Title"] = "Informacion de Asignatura";
}

<h1>@ViewData["Title"]</h1>
@if (ViewBag.mensajeExtra != null)
{
<div class="alert @ViewBag.alert" role="alert">
    @ViewBag.mensajeExtra
</div>
}
<h2>Nombre: @Model.Nombre</h2>
<p><i>Id: @Model.Id</i></p>


<a  asp-area="" asp-controller="Asignatura" asp-action="MultiAsignatura">Todas las Asignaturas</a>